/* Default CSS Code */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    color: #000;
    background: #f27900;
}

::selection {
    color: #fff;
    background: #1c3156;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:focus * {
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn.focus,
.btn:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-group {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    font-family: "Baloo2-Regular";
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: "Baloo2-SemiBold";
    font-size: 20px;
    line-height: 24px;
}

a:hover {
    text-decoration: none;
}

.overflow {
    overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
    font-family: "Baloo2-Medium";
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    line-height: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.custom-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    text-transform: uppercase;
    color: #fff;
    font-family: "Baloo2-SemiBold";
}

.custom-btn a:hover {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

/* Default CSS Code */

/* Bootstrap Code Customize */
@media (min-width: 1800px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1790px;
    }
}
/* Bootstrap Code Customize */

/*
font-family: "Baloo2-SemiBold";
font-family: "Baloo2-Medium";
font-family: "Baloo2-Regular";
*/

body {
    font-family: "Baloo2-Regular";
    font-size: 40px;
    line-height: 40px;
    color: #0c162b;
    background: #fff;
}

/* Header Area */

.navbar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 0;
    padding-top: 65px;
}

.menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    margin-right: 23px;
}

.navbar-nav .nav-item {
    margin-left: 35px;
}

.navbar-nav .nav-item:first-child {
    margin-left: 0;
}

.navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active {
    font-family: "Baloo2-Medium";
    font-size: 18px;
    line-height: 28px;
    color: #000;
    position: relative;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.navbar-expand-lg .navbar-nav .nav-link:before,
.navbar-expand-lg .navbar-nav .nav-link.active:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82px;
    height: 82px;
    background: #0c162b;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
.navbar-expand-lg .navbar-nav .nav-link.active:before {
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #fff;
}

/* Home Page Banner Area */

.banner-area {
    height: 100vh;
    margin-top: -105px;
}

.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-video-cover {
    width: 1080px;
    height: 1080px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hero-video-text h1 {
    font-size: 50px;
    line-height: 60px;
    color: #fdc209;
}

.hero-video-text h1 span {
    display: block;
    color: #fff;
}

.hero-video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}

.talk-btn a {
    width: 220px;
    height: 61px;
    background: #fdc209;
    color: #19191f;
    margin: 0 auto;
    margin-top: 55px;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
}

.hero-video-area {
    position: relative;
}

.mobile-circle {
    position: absolute;
    bottom: -70px;
    left: -470px;
}

.mobile-inner-circles {
    position: relative;
}

.banner-green-circle {
    position: absolute;
    top: -50px;
    right: 80px;
    width: 182px;
    height: 182px;
    background: #27b976;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.doctor-circle {
    position: absolute;
    top: 80px;
    right: -230px;
    z-index: 99;
}

.banner-blue {
    position: absolute;
    top: 440px;
    right: -270px;
    width: 92px;
    height: 92px;
    background: #00a6eb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner-violet {
    position: absolute;
    top: 560px;
    right: -500px;
    width: 296px;
    height: 296px;
    background: #8e00d8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner-yellow {
    position: absolute;
    bottom: -100px;
    right: -110px;
    width: 216px;
    height: 216px;
    background: #fdc209;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Home Page Banner Area */

/* Gradiant Process Area */
.process-area {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45.92deg, #ffffff 0.59%, #ffffff 100%);
}

.process-content {
    max-width: 953px;
}

.process-content h5 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 40px;
}

.process-content h5 span {
    color: #fdc209;
}

.process-content p {
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 30px;
}

.process-content p:last-of-type {
    margin-bottom: 0;
}

.process-content p span {
    color: #fdc209;
    font-family: "Baloo2-Medium";
}

.process-btn a {
    width: 138px;
    height: 55px;
    background: #fff;
    color: #0c162b;
    border-radius: 31.5px;
    -webkit-border-radius: 31.5px;
    -moz-border-radius: 31.5px;
    -ms-border-radius: 31.5px;
    -o-border-radius: 31.5px;
    margin-top: 65px;
}

/* Gradiant Process Area */

/* About Communications Area */

.about-communications {
    padding-top: 510px;
    padding-bottom: 495px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.same-content {
    max-width: 588px;
    width: 100%;
}

.same-content h5 {
    font-size: 50px;
    line-height: 60px;
    font-family: "Baloo2-Medium";
    color: #0c162b;
    margin-bottom: 50px;
}

.same-content h5 span {
    display: block;
}

.same-content p {
    font-size: 20px;
    line-height: 30px;
    font-family: "Baloo2-Regular";
    color: #0c162b;
}

.same-content .custom-btn a {
    margin-top: 60px;
}

.about-btn a {
    width: 131px;
    height: 56px;
    background: #8e00d8;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
}

.about-content {
    position: relative;
    margin-left: -600px;
}

.human-big-circle {
    position: absolute;
    top: -300px;
    right: -582px;
    width: 396px;
    height: 396px;
}

.about-violent-circle {
    position: absolute;
    top: -86px;
    right: -765px;
    background: #8e00d8;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-yellow-circle {
    position: absolute;
    top: 80px;
    right: -1200px;
    background: #fdc209;
    width: 461px;
    height: 461px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.human-small-circle {
    width: 307px;
    height: 307px;
    position: absolute;
    top: 323px;
    right: -495px;
}

.hand-phone-circle {
    width: 377px;
    height: 377px;
    position: absolute;
    top: 120px;
    right: -800px;
}

/* About Communications Area */

/* Events Creative Area */

.events-creative-area {
    padding-bottom: 290px;
}

.events-container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.events-img {
    width: 466px;
    height: 680px;
    margin-right: 143px;
    overflow: hidden;
}

.events-container .events-img img {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.events-container:hover .events-img img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.events-btn a {
    width: 140px;
    height: 55px;
    background: #27b976;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
}

/* Events Creative Area */

/* Testimonial Area */

.testimonial-area {
    padding-bottom: 285px;
}

.testimonial-content {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.havas-logo {
    width: 140px;
    height: 104px;
    margin: 0 auto;
}

.testimonial-content h5 {
    margin-top: 12px;
}

.testimonial-content h5 .letter {
    display: inline-block;
}

.testimonial-content p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 38px;
}

.testimonial-content p span {
    font-family: "Baloo2-Medium";
    text-transform: uppercase;
}

/* Testimonial Area */

/* Experience Number Area */
.experience-container {
    justify-content: space-between;
    background: linear-gradient(45.21deg, #27b976 0.61%, #00a6eb 99.31%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.experience-img {
    margin-right: 0;
    position: relative;
    overflow: hidden;
}

.exp-img-text {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    height: 144%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 35px;
    background: linear-gradient(180deg, rgba(38, 80, 145, 0.0001) 10.78%, #112758 150%);
}

.exp-img-text p {
    font-size: 13px;
    line-height: 23px;
    color: #fff;
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
}

.experience-content {
    padding-left: 117px;
    max-width: 702px;
    color: #fff;
}

.experience-content h5 {
    color: #fff;
}

.experience-content p {
    color: #fff;
}

svg.radial-progress {
    height: auto;
    transform: rotate(-90deg);
    width: 214px;
    height: 214px;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 245.91148575129;
    stroke-width: 2;
}

svg.radial-progress circle.incomplete {
    opacity: 0;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 245.91148575129;
}

svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
}

.circle-numbers {
    width: 705px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.single-number {
    position: relative;
}

.circle-num-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}

.circle-num-inner h3 {
    font-size: 70px;
    line-height: 80px;
    font-family: "Baloo2-Regular";
    color: #fff;
}

.circle-num-inner p {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-family: "Baloo2-SemiBold";
    text-transform: uppercase;
}

/* Experience Number Area */

/* News Blog Area */

.news-blog-area {
    padding-bottom: 220px;
}

.blog-heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 90px;
    margin-left: 15px;
}

.blog-heading h3 {
    font-size: 50px;
    line-height: 50px;
}

.blog-heading a {
    font-size: 18px;
    line-height: 18px;
    color: #0c162b;
    margin-left: 25px;
    text-transform: uppercase;
}

.single-blog {
    width: 490px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    margin-right: 40px;
}

.blog-img {
    overflow: hidden;
}

.single-blog .blog-img img {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.single-blog:hover .blog-img img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.blog-img {
    height: 320px;
}

.blog-content {
    padding: 35px 55px 30px 57px;
}

.blog-content h5 {
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0c162b;
}

.text-green {
    color: #27b976;
}

.text-yellow {
    color: #fdc209;
}

.text-violent {
    color: #8e00d8;
}

.blog-content h3 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 27px;
    color: #0c162b;
}

.blog-content p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 33px;
    color: #0c162b;
}

.blog-author p {
    font-size: 13px;
    line-height: 40px;
    margin-top: 30px;
    color: #0c162b;
}

.blog-area-cover {
    width: 81.2vw;
    margin-left: auto;
    margin-right: 35px;
}

.news-blog-area .flickity-viewport {
    height: 815px !important;
}

.news-blog-area .flickity-slider {
    left: 15px !important;
}

.news-blog-area .carousel-cell {
    opacity: 0.5;
    visibility: visible;
}

.news-blog-area .carousel-cell.is-selected {
    opacity: 1;
}

.flickity-page-dots .dot {
    background: #0c162b;
}

/* News Blog Area */

/* Lets Talk Area */
.lets-talk-area {
    padding: 135px 0;
    background: linear-gradient(225.33deg, #1c3156 1.23%, #0c162b 100%);
    overflow: hidden;
}

.lets-talk-content {
    position: relative;
    max-width: 953px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.lets-talk-content h5 {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 43px;
}

.lets-talk-content h5 span {
    color: #fdc209;
}

.lets-talk-content .talk-btn a {
    width: 220px;
    height: 61px;
    background: #fdc209;
    color: #19191f;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
    margin: 0 auto;
}

.talk-computer {
    position: absolute;
    bottom: -200px;
    left: -320px;
    width: 307px;
    height: 307px;
}

.talk-human {
    position: absolute;
    top: -100px;
    right: -520px;
    width: 184px;
    height: 184px;
}

.talk-green {
    position: absolute;
    bottom: -90px;
    left: -540px;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #27b976;
}

.talk-yellow {
    position: absolute;
    top: -533px;
    right: -405px;
    width: 461px;
    height: 461px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fdc209;
}

.talk-blue {
    position: absolute;
    bottom: -70px;
    right: -495px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #00a6eb;
}

/* Lets Talk Area */

/* Footer Area */

.footer-area {
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
}

.footer-stripe svg {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}

.footer-stripe svg {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}

.footer-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
}

.coda-address,
.footer-nav,
.footer-social {
    max-width: 280px;
    width: 100%;
}

.coda-address p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.coda-address a {
    font-size: 18px;
    line-height: 28px;
    color: #0c162b;
}

.coda-black-logo {
    margin-bottom: 40px;
}

.footer-title {
    margin-bottom: 49px;
}

.footer-title h5 {
    font-size: 30px;
    line-height: 30px;
}

.footer-nav-container {
    display: flex;
}

.footer-nav-container ul li {
    margin-bottom: 5px;
}

.footer-nav-container ul li a {
    font-size: 18px;
    line-height: 28px;
    color: #0c162b;
    font-family: "Baloo2-Regular";
}

.footer-left-nav {
    margin-right: 60px;
}

.footer-social-container p {
    font-size: 14px;
    line-height: 28px;
}

.footer-social-list {
    display: flex;
    margin-top: 68px;
    margin-bottom: 55px;
}

.footer-social-list li {
    margin-right: 25px;
}

.footer-social-list li:last-child {
    margin-right: 0;
}

.footer-social-list li:nth-child(1) a svg path,
.footer-social-list li:nth-child(2) a svg path,
.footer-social-list li:nth-child(3) a svg path,
.footer-social-list li:nth-child(4) a svg path {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.footer-social-list li:nth-child(1) a:hover svg {
    border: 1px solid #fdc209;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-social-list li:nth-child(1) a:hover svg path:first-child {
    fill: #fff;
}

.footer-social-list li:nth-child(1) a:hover svg path {
    fill: #fdc209;
}

.footer-social-list li:nth-child(2) a:hover svg {
    border: 1px solid #27b976;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-social-list li:nth-child(2) a:hover svg path:first-child {
    fill: #fff;
}

.footer-social-list li:nth-child(2) a:hover svg path {
    fill: #27b976;
}

.footer-social-list li:nth-child(3) a:hover svg {
    border: 1px solid #00a6eb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-social-list li:nth-child(3) a:hover svg path:first-child {
    fill: #fff;
}

.footer-social-list li:nth-child(3) a:hover svg path {
    fill: #00a6eb;
}

.footer-social-list li:nth-child(4) a:hover svg {
    border: 1px solid #8e00d8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-social-list li:nth-child(4) a:hover svg path:first-child {
    fill: #fff;
}

.footer-social-list li:nth-child(4) a:hover svg path {
    fill: #8e00d8;
}

/* Footer Area */
